---
import "../../node_modules/the-new-css-reset/css/reset.css";

import { Image } from "astro:assets";

import mapImage from "../images/mappa-piccoli-comprensori.webp";
import seiGiornateImage from "../images/illustrazione-6-giornate.svg";
import percorsoImage from "../images/illustrazione-percorso.svg";
import percorsoDesktopImage from "../images/illustrazione-percorso-desktop.svg";
import tariffeImage from "../images/illustrazione-tariffe.svg";

import logoSkiLife from "../images/ski-life-logo.svg";
import arrowDownImage from "../images/icon-arrow-down.svg";

import stepOneImage from "../images/icon-step-1.svg";
import stepTwoImage from "../images/icon-step-2.svg";
import stepThreeImage from "../images/icon-step-3.svg";

import SliderComprensori from "../components/SliderComprensori.astro";

// loghi footer
import snowcareImage from "../images/footer-logo_snowcare.png";
import valleImage from "../images/footer-logo_valle-daosta.png";
import portaleImage from "../images/footer-ti_il-portale-dello-sci-it.svg";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Scopri l'autentica magia della Valle d'Aosta</title>
		<meta
			name="description"
			content="Magic Skipass è la promozione ideata per incentivare la scoperta di itinerari fuori dal comune dove poter vivere la propria passione per la neve, provare a sciare e assaporare le tradizioni più vere e radicate, contrastando il caro vita."
		/>

		<meta property="og:url" content="https://magic-pass.skilife.ski/" />
		<meta property="og:site_name" content="magic-pass.skilife.ski" />
		<meta
			property="og:title"
			content="Scopri l'autentica magia della Valle d'Aosta"
		/>
		<meta
			property="og:description"
			content="Magic Skipass è la promozione ideata per incentivare la scoperta di itinerari fuori dal comune dove poter vivere la propria passione per la neve, provare a sciare e assaporare le tradizioni più vere e radicate, contrastando il caro vita."
		/>
		<meta property="og:locale" content="it_IT" />
		<meta property="og:image" content="/og-header.jpg" />

		<meta property="og:type" content="website" />

		<script>
			window.dataLayer = window.dataLayer || [];
		</script>

		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-KX3PPB8T");
		</script>
	</head>

	<body>
		<style is:global>
			:root {
				--text-grey: #8a97a8;
				--azzurro: #55c2e4;

				--margin-large: 100px;
				--margin-standard: 50px;
				--margin-small: 20px;
				--margin-smallest: 10px;
			}

			/* latin-ext */
			@font-face {
				font-family: "Alegreya Sans";
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				src: url(../fonts/AlegreyaSans-Bold.woff2) format("woff2");
				unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F,
					U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
					U+A720-A7FF;
			}
			/* latin */
			@font-face {
				font-family: "Alegreya Sans";
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				src: url(../fonts/AlegreyaSans-Bold.woff2) format("woff2");
				unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
					U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
					U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
			}
			/* latin-ext */
			@font-face {
				font-family: "Oxygen";
				font-style: normal;
				font-weight: 300;
				font-display: swap;
				src: url(../fonts/Oxygen-Light.woff2) format("woff2");
				unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F,
					U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
					U+A720-A7FF;
			}
			/* latin */
			@font-face {
				font-family: "Oxygen";
				font-style: normal;
				font-weight: 300;
				font-display: swap;
				src: url(../fonts/Oxygen-Light.woff2) format("woff2");
				unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
					U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
					U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
			}
			/* latin-ext */
			@font-face {
				font-family: "Oxygen";
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				src: url(../fonts/Oxygen-Bold.woff2) format("woff2");
				unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F,
					U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
					U+A720-A7FF;
			}
			/* latin */
			@font-face {
				font-family: "Oxygen";
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				src: url(../fonts/Oxygen-Bold.woff2) format("woff2");
				unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
					U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
					U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
			}

			@font-face {
				font-family: "Ramen";
				src:
					/* url("../fonts/ramen.woff") format("woff"), */ url("../fonts/ramen.woff2")
					format("woff2");
				font-display: swap;
			}

			@media (min-width: 750px) {
				:root {
					--margin-large: 150px;
				}
			}

			html {
				/* 1rem = 10px */
				font-size: 62.5%;
			}

			body {
				color: var(--text-grey);
				font-size: 2rem;
				line-height: 1.4;
				font-family: "Oxygen", sans-serif;
				text-align: center;
				font-weight: 300;
				letter-spacing: 1px;
			}

			h1 {
				font-family: "Alegreya Sans", sans-serif;
				font-size: 5.4rem;
				font-weight: bold;
				color: var(--azzurro);
				margin-bottom: var(--margin-smallest);
				line-height: 1;
			}

			h2 {
				font-family: "Alegreya Sans", sans-serif;
				color: var(--azzurro);
				font-size: 3.4rem;
				font-weight: bold;
				line-height: 1.1;
				margin-bottom: var(--margin-smallest);
			}

			small,
			.esempi {
				font-size: 1.6rem;
			}

			.btn {
				background-color: var(--azzurro);
				border: 2px solid var(--azzurro);
				color: white;
				padding-left: 4rem;
				padding-right: 4rem;
				padding-top: 0.5rem;
				padding-bottom: 0.7rem;
				border-radius: 0.6rem;
				font-weight: bold;
				font-size: 1.7rem;
				display: inline-block;
			}

			.btn.btn--secondary {
				background-color: transparent;
				border: 2px solid white;
			}

			p {
				margin-top: var(--margin-standard);
				margin-bottom: var(--margin-standard);
			}

			p > small {
				display: block;
				margin: var(--margin-small) 0;
			}
			p > small:last-child {
				margin-bottom: 0;
			}

			b {
				font-weight: bold;
				font-weight: 700;
			}

			a {
				color: var(--azzurro);
				font-weight: bold;
			}

			.lang-switch {
				position: absolute;
				display: flex;
				top: var(--margin-smallest);
				right: var(--margin-smallest);
			}

			.lang-switch a {
				color: white;
				font-size: 1.5rem;
				font-weight: normal;
				display: inline-block;
				margin-left: var(--margin-smallest);
				display: block;
			}

			header {
				color: white;

				text-align: center;

				background-image: url(../images/bg-header-mobile@1x.webp);
				background-size: 100% auto;
				background-position: bottom;
				background-size: cover;
			}

			header .content {
				padding-top: var(--margin-standard);
				padding-bottom: var(--margin-small);
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				margin: 0 auto;
				height: 90vh;
				max-height: 90rem;
			}

			header .btn {
				display: inline-block;
			}

			header .arrow-down {
				margin: 0 auto;
			}

			@media (min-width: 750px) {
				.lang-switch {
					position: relative;
					align-self: flex-end;
				}

				header {
					background-image: url(../images/bg-header-desktop@1x.webp);
				}

				header .content {
					padding-top: var(--margin-standard);
					padding-bottom: var(--margin-standard);
					align-items: center;
					height: auto;
				}

				header .content img {
					align-self: flex-start;
					margin: 0;
					margin-bottom: var(--margin-standard);
					width: 261px;
				}

				header .arrow-down {
					display: none;
				}
			}

			header .logo {
				max-width: 20rem;
				height: auto;
				aspect-ratio: 13 / 6;
				display: block;
				margin: 0 auto;
			}

			header small,
			header strong {
				display: block;
			}

			header button {
				display: block;

				margin-left: auto;
				margin-right: auto;

				margin-top: var(--margin-small);
				margin-bottom: var(--margin-small);
			}

			header button,
			header .btn {
				min-width: 240px;
				margin-left: auto;
				margin-right: auto;
				cursor: pointer;
			}

			header small {
				font-size: 2rem;
				font-weight: bold;
				line-height: 1.2;
				margin-bottom: var(--margin-smallest);
			}

			header strong {
				font-family: "Ramen";
				font-size: 4rem;
				line-height: 1.2;
				margin-bottom: var(--margin-standard);
			}

			@media (min-width: 750px) {
				header small {
					font-size: 2.2rem;
					font-weight: bold;
					line-height: 1.2;
					margin-bottom: var(--margin-smallest);
				}

				header strong {
					font-family: "Ramen";
					font-size: 5.8rem;
					line-height: 1.2;
					margin-bottom: var(--margin-standard);
				}
			}

			section {
				margin-top: var(--margin-large);
				margin-bottom: var(--margin-large);
			}

			section .content,
			header .content,
			footer .content {
				padding-left: var(--margin-small);
				padding-right: var(--margin-small);

				max-width: 1300px;
				margin-left: auto;
				margin-right: auto;

				overflow: hidden;
			}

			.content > .mappa-piccoli-comprensori {
				display: block;
			}

			.content > .title-copy-cta {
				margin-bottom: var(--margin-large);
			}
			.content > .title-copy-cta:last-child {
				margin-bottom: 0;
			}

			.title-copy-cta p:first-of-type {
				margin-top: 0;
			}
			.title-copy-cta p:last-child {
				margin-bottom: 0;
			}

			.cose-grid {
				display: grid;
				grid-template-columns: 1fr;

				align-items: center;
				justify-items: center;
			}

			.sei-giornate {
				margin-top: var(--margin-large);
			}

			.percorso-mobile {
				margin-bottom: var(--margin-large);
			}

			@media (min-width: 750px) {
				.cose-grid {
					column-gap: 8rem;
					row-gap: var(--margin-large);
				}

				.cose-grid .percorso-desktop {
					width: 90%;
					justify-self: flex-start;
				}

				.title-copy-cta {
					text-align: left;
				}

				.cose-grid {
					grid-template-columns: 1fr 1fr;
				}

				.sei-giornate {
					margin-top: 0;
				}
			}

			.come-usufruire {
				margin: 0;
				padding-top: var(--margin-large);
				padding-bottom: var(--margin-large);
			}

			.come-usufruire.visible {
				background-color: #ececec;
				background-image: url(../images/bg-come-usufruire-mobile@1x.webp);
				background-size: cover;
				background-position: center bottom;
			}

			@media (min-width: 750px) {
				.come-usufruire.visible {
					background-image: url(../images/bg-come-usufruire-desktop@1x.webp);
				}
			}

			.come-usufruire h1,
			.come-usufruire h2 {
				color: white;
			}

			.come-usufruire h1 {
				margin-bottom: calc(var(--margin-standard) * 2);
			}

			.come-usufruire li {
				color: white;
				max-width: 28rem;
				margin: 0 auto;
			}

			.come-usufruire li > img {
				margin-bottom: var(--margin-small);
			}

			.come-usufruire li h2 {
				margin-bottom: var(--margin-smallest);
				line-height: 1;
			}

			.come-usufruire li p {
				margin-top: 0;
			}

			@media (min-width: 750px) {
				.come-usufruire .steps {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
				}

				.tariffe-grid {
					text-align: left;

					display: grid;
					grid-template-columns: 1fr 1fr;
					column-gap: var(--margin-standard);
					justify-items: center;
					align-items: center;
				}
				.tariffe-grid img {
					grid-column: 1;
					grid-row: 1;
				}
				.tariffe-grid .title-copy-cta {
					grid-column: 2;
				}
			}

			.mappa-piccoli-comprensori,
			.illustrazione-tariffe {
				width: 95%;
				max-width: 100rem;
				margin: 0 auto;
				height: auto;
				max-inline-size: none;
				max-block-size: none;
			}

			.illustrazione-tariffe {
				margin-top: var(--margin-standard);
				margin-bottom: var(--margin-standard);
			}

			.desktop-only {
				display: none;
			}

			@media (min-width: 750px) {
				.mappa-piccoli-comprensori {
					margin-top: var(--margin-large);
				}

				.mobile-only {
					display: none;
				}
				.desktop-only {
					display: block;
				}
			}
		</style>

		<header>
			<div class="content">
				<div class="lang-switch">
					<a href="https://www.skilife.ski/en/promo-sci-piccoli-borghi-2/">EN</a
					>
					<a href="https://www.skilife.ski/fr/promo-sci-piccoli-borghi-2/">FR</a
					>
				</div>
				<Image
					src={logoSkiLife}
					alt="Ski Life valle d'Aosta"
					class="logo"
					loading="eager"
				/>

				<div>
					<div>
						<small
							>Scopri l'autentica magia della<br class="mobile-only" /> Valle
							d'Aosta e scia nei</small
						>
						<strong>PICCOLI <br class="mobile-only" /> COMPRENSORI</strong>
					</div>

					<a
						href="https://skilife.skiperformance.com/it/negozio?skugroup_id=4119#/it/acquista"
						class="btn"
						id="cta-acquista-header"
						target="_blank">Acquista online</a
					>
					<br />
					<button class="btn btn--secondary scopri-di-piu"
						>Scopri i borghi che aderiscono</button
					>
				</div>

				<Image
					src={arrowDownImage}
					alt="Vai giù"
					class="arrow-down"
					loading="eager"
				/>
			</div>

			<script>
				const scrollLink = document.querySelector(".arrow-down"),
					targetElement = document.querySelector(".intro"),
					scopriElement = document.querySelector(".scopri-di-piu"),
					sliderElement = document.querySelector(".slider-comprensori"),
					acquistaHeaderElement = document.querySelector(
						"#cta-acquista-header"
					),
					acquistaComeElement = document.querySelector(
						"#cta-acquista-section-come"
					),
					acquistaCoseElement = document.querySelector(
						"#cta-acquista-section-cose"
					),
					acquistaLasciatiIspirareElement = document.querySelector(
						"#cta-acquista-section-lasciati-ispirare"
					),
					footerTelLinkElement = document.querySelector("#footer-tel-link"),
					footerEmailLinkElement = document.querySelector("#footer-email-link");

				scrollLink.addEventListener("click", function (e) {
					e.preventDefault();
					window.scroll({
						top: targetElement.offsetTop - 50,
						left: 0,
						behavior: "smooth"
					});
				});

				scopriElement.addEventListener("click", function (e) {
					e.preventDefault();

					dataLayer.push({
						event: "click_cta-lasciati-ispirare-header"
					});

					window.scroll({
						top: sliderElement.offsetTop - 15,
						left: 0,
						behavior: "smooth"
					});

					if (fbq != "undefined")
						fbq("trackCustom", "click_cta-lasciati-ispirare-header");
				});

				acquistaHeaderElement.addEventListener("click", function (e) {
					// evt ga4 impostato da tag mangager
					fbq("trackCustom", "click_cta-acquista-header");
				});

				acquistaComeElement.addEventListener("click", function (e) {
					// evt ga4 impostato da tag mangager
					fbq("trackCustom", "click_cta-acquista-section-come");
				});

				acquistaCoseElement.addEventListener("click", function (e) {
					// evt ga4 impostato da tag mangager
					fbq("trackCustom", "click_cta-acquista-section-cose");
				});

				acquistaLasciatiIspirareElement.addEventListener("click", function (e) {
					// evt ga4 impostato da tag mangager
					fbq("trackCustom", "click_cta-acquista-section-lasciati-ispirare");
				});

				footerTelLinkElement.addEventListener("click", function (e) {
					// evt ga4 impostato da tag mangager
					fbq("trackCustom", "click_footer-tel-link");
				});

				footerEmailLinkElement.addEventListener("click", function (e) {
					dataLayer.push({
						event: "click_footer-email-link"
					});
					fbq("trackCustom", "click_footer-email-link");
				});
			</script>
		</header>

		<section class="intro">
			<div class="content">
				<div class="cose-grid">
					<div class="title-copy-cta">
						<h1>Cos'è Magic Skipass</h1>

						<p>
							Magic Skipass è la promozione ideata per incentivare la scoperta
							di <b
								>itinerari fuori dal comune dove poter vivere la propria
								passione per la neve</b
							>, 11 magnifici borghi dove provare a sciare ed assaporare le
							tradizioni più vere e radicate, contrastando il caro vita.
						</p>

						<p>
							Esperienze imperdibili per godere di qualche giorno lontani dal
							caos, dai ritmi frenetici delle città e scoprire la bellezza di
							sciare in mezzo alla natura più pura e meravigliosa della Valle
							d’Aosta.
						</p>

						<a
							href="https://skilife.skiperformance.com/it/negozio?skugroup_id=4119#/it/acquista"
							class="btn"
							target="_blank"
							id="cta-acquista-section-cose">Acquista online</a
						>
					</div>

					<Image
						src={seiGiornateImage}
						alt="100€, 6 giornate di skipass + 1 ora di maestro + una notte in alberto per due minorenni"
						class="sei-giornate"
					/>

					<Image
						src={percorsoImage}
						alt="Percorso"
						class="mobile-only percorso-mobile"
					/>
					<Image
						src={percorsoDesktopImage}
						alt="Percorso"
						class="desktop-only percorso-desktop"
					/>

					<div class="title-copy-cta">
						<h1>E non è tutto!</h1>
						<p>
							Con Magic Skipass, potrai usufruire anche di 1 ora di lezione di
							sci o di snowboard, presso le Scuole Sci disponibili nei piccoli
							comprensori che aderiscono all'iniziativa.
							<br /><br />
							<a
								href="/Skilife_MagicSkipass_23-24.pdf"
								download="/Skilife_MagicSkipass_23-24.pdf">Scarica il leaflet</a
							> della promozione con l'elenco ed i contatti delle Scuola Sci che
							aderiscono alla promozione

							<small
								>Potrai usufruire dell’ora di lezione per tutta la stagione
								2023/2024 ad eccezione dei weekend e del periodo dal 24/12 al
								07/01 e dal 12/02 al 16/02.
							</small>
						</p>
						<p>
							Soggiornando in una delle <a
								href="/adesioni-promo-piccole-stazioni-sciistiche-9ott2023.pdf"
								target="_blank">strutture aderenti</a
							> alla promozione, max <b>2 ragazzi*</b>
							 (fino a 18 anni non compiuti) usufruiscono della gratuità
							pernottamento e prima colazione se soggiornano in camera con i
							genitori, possessori dello skipass promozionale.<br /><br />
							<a
								href="/adesioni-promo-piccole-stazioni-sciistiche-9ott2023.pdf"
								download="/Skilife_MagicSkipass_23-24.pdf"
								>Scarica la lista degli alberghi che aderiscono alla promozione.</a
							>
						</p>

						<p>
							<b
								>Ogni Magic skipass acquistato da un adulto dà diritto a una
								notte gratuita per 1 o due ragazzi fino a 18 anni non ancora
								compiuti, in camera con i genitori.</b
							>
						</p>

						<div class="esempi">
							<style>
								.esempi {
									margin-top: calc(var(--margin-small) * -1);
								}
								.esempi ul {
									list-style-type: decimal;
									margin-top: var(--margin-smallest);
									margin-bottom: var(--margin-small);
								}

								.esempi li {
									margin-bottom: var(--margin-small);
									text-align: left;
									margin-left: var(--margin-small);
								}
							</style>
							<b>Alcuni esempi:</b>
							<ul>
								<li>
									2 genitori (2 skipass) + 1/2 ragazzo/i: gli adulti pagano la
									tariffa piena e il/i ragazzo/i soggiorna/no gratis per due
									notti
								</li>
								<li>
									2 genitori (1 skipass) + 1/2 ragazzo/i: gli adulti pagano la
									tariffa piena e il/i ragazzo/i soggiorna/no gratis per una
									notte
								</li>
								<li>
									1 genitore (1 skipass) + 1/2 ragazzo/i: l’adulto paga la
									tariffa piena della camera doppia e il/i ragazzo/i
									soggiorna/no gratis per una notte
								</li>
							</ul>

							<p>
								<b>N.B.:</b> La gratuità in hotel è abbinata esclusivamente ad
								uno skipass adulto. Lo skipass dei ragazzi 14-18 anni non genera
								la gratuità.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="come-usufruire lazy-background">
			<div class="content">
				<h1>Come usufruire della promozione</h1>

				<ul class="steps">
					<li>
						<Image src={stepOneImage} alt="Uno" width="100" />
						<h2>Acquista</h2>
						<p>
							Acquista il Magic Skipass online o presso le biglietterie dei
							comprensori aderenti all’iniziativa.
						</p>
					</li>

					<li>
						<Image src={stepTwoImage} alt="Due" width="100" />
						<h2>Ritira</h2>
						<p>
							Ritira il Magic Skipass in una delle biglietterie dei comprensori
							aderenti l’iniziativa.
						</p>
					</li>

					<li>
						<Image src={stepThreeImage} alt="Tre" width="100" />
						<h2>Scopri</h2>
						<p>
							Scopri la bellezza di sciare sulle piste più magiche della Valle
							d’Aosta per un massimo di 3 giornate nella stessa stazione di sci.
						</p>
					</li>
				</ul>

				<a
					href="https://skilife.skiperformance.com/it/negozio?skugroup_id=4119#/it/acquista"
					class="btn"
					id="cta-acquista-section-come"
					target="_blank">Acquista online</a
				>
			</div>
		</section>

		<section>
			<div class="content">
				<div class="tariffe-grid">
					<div class="title-copy-cta">
						<h1>Un prezzo imbattibile</h1>

						<p>
							1 skipass plurigiornaliero** nominale da 6 giornate di sci da
							utilizzare a libera scelta nei piccoli comprensori valdostani <b
								>a soli 100€ per gli adulti, gratis per i bambini fino a 8 anni</b
							> (con l’acquisto di uno skipass adulto) e <b
								>80€ per i ragazzi sotto ai 14 anni.</b
							>
						</p>

						<p>
							Lo skipass è utilizzabile per un massimo di tre giorni nella
							stessa località sciistica
							<small
								>**Lo skipass è utilizzabile per un massimo di 3 giornate di sci
								fruibili all’interno dello stesso piccolo comprensorio.</small
							>
							<small
								>Under 14: nati dopo il 31/10/2009. Under 8: nati dopo il
								31/10/2015.</small
							>
						</p>
					</div>

					<Image
						src={tariffeImage}
						alt="100€ Adulti, 80€ Under 14, 0€ Under 8"
						class="illustrazione-tariffe"
					/>
				</div>

				<Image
					src={mapImage}
					alt="Mappa piccoli comprensori"
					class="mappa-piccoli-comprensori"
				/>
			</div>
		</section>

		<section class="lasciati-ispirare">
			<SliderComprensori />
		</section>

		<style>
			.loghi {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: 100px;
				max-width: 60rem;
				margin: 0 auto;
				align-items: center;
				justify-items: center;
				row-gap: var(--margin-small);
				margin-bottom: var(--margin-standard);
				padding-left: var(--margin-small);
				padding-right: var(--margin-small);
			}

			.loghi .portale {
				/* grid-column-start: 1;
				grid-column-end: 2; */
				grid-column: 1 / span 2;
				width: 100%;
				height: 4rem;
			}

			.loghi .valle {
				width: auto;
				height: 9rem;
				justify-self: flex-start;
				margin-left: var(--margin-small);
			}

			.loghi .snowcare {
				width: auto;
				height: 7rem;
				justify-self: flex-end;
			}

			footer {
				background-color: #00264a;
				padding-top: var(--margin-standard);
			}

			footer .col {
				text-align: left;
			}
			footer .col img {
				min-height: 50px;
			}

			footer h3 {
				font-weight: 700;
				color: var(--azzurro);
				margin-bottom: var(--margin-smallest);
			}

			footer a {
				color: white;
				font-weight: 300;
				display: block;
				font-size: 1.3rem;
				line-height: 2.7;
			}

			footer .content {
				display: flex;
				flex-direction: column;
				row-gap: var(--margin-standard);
				justify-content: space-between;
			}

			@media (min-width: 750px) {
				footer .content {
					display: flex;
					flex-direction: row;
					column-gap: var(--margin-standard);
					justify-content: space-between;
				}
			}

			.footer-bottom {
				margin-top: var(--margin-standard);
				padding-top: var(--margin-smallest);
				padding-bottom: var(--margin-smallest);

				font-size: 1.2rem;

				color: white;
				background-color: #0084be;
			}
		</style>

		<div class="loghi">
			<div>
				<Image
					src={snowcareImage}
					alt="Assicurazione sci e snowboard Snowcare"
					class="snowcare"
				/>

				<a href="http://www.lovevda.it/" target="_blank">
					<Image
						src={valleImage}
						alt="Valle d'Aosta, Vallée d'Aosta"
						class="valle"
					/>
				</a>
			</div>

			<Image
				src={portaleImage}
				alt="Il portale dello sci in valle d'aosta"
				class="portale"
			/>
		</div>

		<footer>
			<div class="content">
				<div class="col">
					<Image src={logoSkiLife} alt="Ski lige Valle d'Aosta" width="200" />
				</div>

				<div class="col">
					<h3>Link utili</h3>
					<a
						href="http://www.skilife.ski/associazione-valdostana-impianti-a-fune/"
						>Associazione Valdostana Impianti a fune</a
					>

					<a href="https://www.skilife.ski/agenzie/">Area agenzie</a>

					<a href="https://www.skilife.ski/societa-funivia	rie/"
						>Società funiviarie</a
					>
				</div>

				<div class="col">
					<h3>Contatti</h3>
					<a href="tel:+39 0165 238871" id="footer-tel-link"
						>Telefono +39 0165 238871</a
					>
					<a href="mailto:info@skilife.ski" id="footer-email-link"
						>info@skilife.ski</a
					>
				</div>

				<div class="col">
					<h3>Informazioni</h3>
					<a
						href="https://skilife.skiperformance.com/it/negozio#/it/acquista?skugroup_id=4119"
						>Skipass online</a
					>
					<a href="https://www.skilife.ski/privacy/">Privacy</a>
					<a
						href="https://www.iubenda.com/privacy-policy/50649705/cookie-policy?an=no&s_ck=false&newmarkup=yes"
						>Cookies policy</a
					>
				</div>
			</div>

			<div class="footer-bottom">
				© 2023 Copyright Skilife P.I. IT00035130079
			</div>
		</footer>

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				var lazyBackgrounds = [].slice.call(
					document.querySelectorAll(".lazy-background")
				);

				if ("IntersectionObserver" in window) {
					let lazyBackgroundObserver = new IntersectionObserver(function (
						entries,
						observer
					) {
						entries.forEach(function (entry) {
							if (entry.isIntersecting) {
								entry.target.classList.add("visible");
								lazyBackgroundObserver.unobserve(entry.target);
							}
						});
					});

					lazyBackgrounds.forEach(function (lazyBackground) {
						lazyBackgroundObserver.observe(lazyBackground);
					});
				}
			});
		</script>
	</body>
</html>
