---
import "../styles/main.scss";

import { Image } from "astro:assets";

import mapImage from "../images/mappa-piccoli-comprensori.svg";
import tariffeImage from "../images/illustrazione-tariffe.svg";
import logoSkiLife from "../images/ski-life-logo.svg";

import stepOneImage from "../images/icon-step-1.svg";
import stepTwoImage from "../images/icon-step-2.svg";
import stepThreeImage from "../images/icon-step-3.svg";

import SliderComprensori from "../components/SliderComprensori.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Vda Piccoli comprensori</title>
	</head>

	<body>
		<header>
			<div class="content">
				<Image src={logoSkiLife} alt="Ski Life valle d'Aosta" class="logo" loading="eager"/>
				<p>
					<small>Scopri l'autentica magia della Valle d'Aosta e scia nei</small>
					<strong>PICCOLI COMPRENSORI</strong>
				</p>
				<button class="btn">Acquista online</button><br />
				<button class="btn btn--secondary">Scopri di più</button>
			</div>
		</header>

		<section class="intro">

			<div class="content">
				<div class="title-copy-cta">
					<h1>Cos'è il magic Skipass</h1>

					<p>
						Magic Skipass è la promozione ideata dalla Regione Valle d’Aosta per
						incentivare la scoperta di <b
							>itinerari fuori dal comune dove poter vivere la propria passione
							per la neve</b
						>, provare a sciare e assaporare le tradizioni più vere e radicate,
						contrastando il caro vita.
					</p>

					<p>
						Esperienze imperdibili per godere di qualche giorno lontani dal
						caos, dai ritmi frenetici delle città e scoprire la bellezza di
						sciare in mezzo alla natura più pura e meravigliosa della Valle
						d’Aosta.
					</p>

					<button>Acquista online</button>
				</div>

				<div class="title-copy-cta">
					<h1>E non è tutto!</h1>
					<p>
						Con Magic Skipass, potrai usufruire anche di 1 ora di lezione di sci
						o di snowboard, presso le <a href="">Scuole Sci</a> disponibili nei
						piccoli comprensori che aderiscono all'iniziativa.
						<small
							>Potrai usufruire dell’ora di lezione per tutta la stagione
							2023/2024 ad eccezione dei weekend e del periodo dal 24/12 al
							07/01 e dal 12/02 al 16/02.
						</small>
					</p>
					<p>
						Soggiornando per 2 notti consecutive in una delle <a href=""
							>strutture aderenti</a
						> degli 11 borghi che aderiscono alla promozione, <b>2 ragazzi*</b>
						 (fino a 18 anni non compiuti) dormono gratis per 1 notte in camera
						con i genitori.
						<small
							>*Figli di genitori possessori dello skipass promozionale Magic
							Skipass.</small
						>
					</p>
				</div>
			</div>

		</section>

		<section class="come-usufruire">
			<div class="content">

				<h1>Come usufruire della promozione</h1>

				<ul class="steps">
					<li>
						<Image src={stepOneImage} alt="Uno" width="100" />
						<h2>Acquista</h2>
						<p>
							Acquista il Magic Skipass online o presso le biglietterie dei
							comprensori aderenti all’iniziativa.
						</p>
					</li>

					<li>
						<Image src={stepTwoImage} alt="Due" width="100" />
						<h2>Ritira</h2>
						<p>
							Ritira il Magic Skipass in una delle biglietterie dei comprensori
							aderenti l’iniziativa.
						</p>
					</li>

					<li>
						<Image src={stepThreeImage} alt="Tre" width="100" />
						<h2>Scopri</h2>
						<p>
							Scopri la bellezza di sciare in uno dei borghi più magici della
							Valle d’Aosta per al massimo 3 giornate (anche consecutive).
						</p>
					</li>
				</ul>

				<button> Acquista online</button>
			</div>
		</section>

		<section>
			<div class="content">
				<div class="tariffe-grid">
					<div class="title-copy-cta">
						<h1>Un prezzo imbattibile</h1>

						<p>
							1 skipass plurigiornaliero** da 6 giornate di sci da utilizzare a
							libera scelta nei piccoli comprensori valdostani <b
								>a soli 100€ per gli adulti, gratis per i bambini fino a 8 anni</b
							> (con l’acquisto di uno skipass adulto) e <b
								>80€ per i ragazzi sotto ai 14 anni.</b
							>
						</p>

						<p>
							Lo skipass è utilizzabile per un massimo di due giorni nella
							stessa località sciistica
							<small
								>**Lo skipass è utilizzabile per un massimo di 3 giornate di sci
								fruibili all’interno dello stesso piccolo comprensorio.</small
							>
						</p>
					</div>

					<Image
						src={tariffeImage}
						alt="100€ Adulti, 80€ Under 14, 0€ Under 8"
						class="mappa-piccoli-comprensori"
					/>
				</div>

				<Image
					src={mapImage}
					alt="Mappa piccoli comprensori"
					class="mappa-piccoli-comprensori"
				/>
			</div>
		</section>

		<section class="lasciati-ispirare">
			<SliderComprensori />
		</section>

		<footer></footer>
	</body>
</html>
