---
import "../../node_modules/the-new-css-reset/css/reset.css";

import { Image } from "astro:assets";

import mapImage from "../images/mappa-piccoli-comprensori.webp";
import seiGiornateImage from "../images/illustrazione-6-giornate.svg";
import percorsoImage from "../images/illustrazione-percorso.svg";
import percorsoDesktopImage from "../images/illustrazione-percorso-desktop.svg";
import tariffeImage from "../images/illustrazione-tariffe.svg";

import logoSkiLife from "../images/ski-life-logo.svg";
import arrowDownImage from "../images/icon-arrow-down.svg";

import stepOneImage from "../images/icon-step-1.svg";
import stepTwoImage from "../images/icon-step-2.svg";
import stepThreeImage from "../images/icon-step-3.svg";

import SliderComprensori from "../components/SliderComprensori.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Vda Piccoli comprensori</title>
	</head>

	<body>
		<style is:global>
			@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Oxygen:wght@300;400;700&display=swap");
		</style>

		<style is:global>
			:root {
				--text-grey: #8a97a8;
				--azzurro: #55c2e4;

				--margin-large: 100px;
				--margin-standard: 50px;
				--margin-small: 20px;
				--margin-smallest: 10px;
			}

			@font-face {
				font-family: "Ramen";
				src:
					url("../fonts/ramen.woff") format("woff"),
					url("../fonts/ramen.woff2") format("woff2");
				font-display: swap;
			}

			@media (min-width: 750px) {
				:root {
					--margin-large: 150px;
				}
			}

			html {
				/* 1rem = 10px */
				font-size: 62.5%;
			}

			body {
				color: var(--text-grey);
				font-size: 2rem;
				line-height: 1.4;
				font-family: "Oxygen", sans-serif;
				text-align: center;
				font-weight: 300;
				letter-spacing: 1px;
			}

			h1 {
				font-family: "Alegreya Sans", sans-serif;
				font-size: 5.4rem;
				font-weight: bold;
				color: var(--azzurro);
				margin-bottom: var(--margin-smallest);
				line-height: 1;
			}

			h2 {
				font-family: "Alegreya Sans", sans-serif;
				color: var(--azzurro);
				font-size: 3.4rem;
				font-weight: bold;
				line-height: 1.1;
				margin-bottom: var(--margin-smallest);
			}

			small {
				font-size: 1.6rem;
			}

			.btn {
				background-color: var(--azzurro);
				border: 2px solid var(--azzurro);
				color: white;
				padding-left: 4rem;
				padding-right: 4rem;
				padding-top: 0.5rem;
				padding-bottom: 0.7rem;
				border-radius: 0.6rem;
				font-weight: bold;
				font-size: 1.7rem;
				display: inline-block;
			}

			.btn.btn--secondary {
				background-color: transparent;
				border: 2px solid white;
			}

			p {
				margin-top: var(--margin-standard);
				margin-bottom: var(--margin-standard);
			}

			p > small {
				display: block;
				margin: var(--margin-small) 0;
			}
			p > small:last-child {
				margin-bottom: 0;
			}

			b {
				font-weight: bold;
				font-weight: 700;
			}

			a {
				color: var(--azzurro);
				font-weight: bold;
			}

			header {
				color: white;

				text-align: center;

				background-image: url(../images/bg-header-mobile@1x.webp);
				background-size: 100% auto;
				background-position: bottom;
				background-size: cover;
			}

			header .content {
				padding-top: var(--margin-standard);
				padding-bottom: var(--margin-small);
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				margin: 0 auto;
				height: 90vh;
				max-height: 90rem;
			}

			header .btn {
				display: block;
			}

			header .arrow-down {
				margin: 0 auto;
			}

			@media (min-width: 750px) {
				header {
					background-image: url(../images/bg-header-desktop@1x.webp);
				}

				header .content {
					padding-top: var(--margin-standard);
					padding-bottom: var(--margin-standard);
					align-items: center;
					height: auto;
				}

				header .content img {
					align-self: flex-start;
					margin: 0;
					margin-bottom: var(--margin-standard);
					width: 261px;
				}

				header .arrow-down {
					display: none;
				}
			}

			header .logo {
				max-width: 20rem;
				height: auto;
				aspect-ratio: 13 / 6;
				display: block;
				margin: 0 auto;
			}

			header small,
			header strong {
				display: block;
			}

			header button {
				display: block;

				margin-left: auto;
				margin-right: auto;

				margin-top: var(--margin-small);
				margin-bottom: var(--margin-small);
				width: 225px;
			}

			header small {
				font-size: 2rem;
				font-weight: bold;
				line-height: 1.2;
				margin-bottom: var(--margin-smallest);
			}

			header strong {
				font-family: "Ramen";
				font-size: 4rem;
				line-height: 1.2;
				margin-bottom: var(--margin-standard);
			}

			@media (min-width: 750px) {
				header small {
					font-size: 2.2rem;
					font-weight: bold;
					line-height: 1.2;
					margin-bottom: var(--margin-smallest);
				}

				header strong {
					font-family: "Ramen";
					font-size: 5.8rem;
					line-height: 1.2;
					margin-bottom: var(--margin-standard);
				}
			}

			section {
				margin-top: var(--margin-large);
				margin-bottom: var(--margin-large);
			}

			section .content,
			header .content {
				padding-left: var(--margin-small);
				padding-right: var(--margin-small);

				max-width: 1300px;
				margin-left: auto;
				margin-right: auto;

				overflow: hidden;
			}

			.content > .mappa-piccoli-comprensori {
				display: block;
			}

			.content > .title-copy-cta {
				margin-bottom: var(--margin-large);
			}
			.content > .title-copy-cta:last-child {
				margin-bottom: 0;
			}

			.title-copy-cta p:first-of-type {
				margin-top: 0;
			}
			.title-copy-cta p:last-child {
				margin-bottom: 0;
			}

			.cose-grid {
				display: grid;
				grid-template-columns: 1fr;

				align-items: center;
				justify-items: center;
			}

			.sei-giornate {
				margin-top: var(--margin-large);
			}

			.percorso-mobile {
				margin-bottom: var(--margin-large);
			}

			@media (min-width: 750px) {
				.cose-grid {
					column-gap: 8rem;
					row-gap: var(--margin-large);
				}

				.cose-grid .percorso-desktop {
					width: 90%;
					justify-self: flex-start;
				}

				.title-copy-cta {
					text-align: left;
				}

				.cose-grid {
					grid-template-columns: 1fr 1fr;
				}
			}

			.come-usufruire {
				margin: 0;
				padding-top: var(--margin-large);
				padding-bottom: var(--margin-large);
				background-color: #ececec;
				background-image: url(../images/bg-come-usufruire-mobile@1x.webp);
				background-size: cover;
				background-position: center bottom;
			}

			@media (min-width: 750px) {
				.come-usufruire {
					background-image: url(../images/bg-come-usufruire-desktop@1x.webp);
				}
			}

			.come-usufruire h1,
			.come-usufruire h2 {
				color: white;
			}

			.come-usufruire h1 {
				margin-bottom: calc(var(--margin-standard) * 2);
			}

			.come-usufruire li {
				color: white;
				max-width: 28rem;
				margin: 0 auto;
			}

			.come-usufruire li > img {
				margin-bottom: var(--margin-small);
			}

			.come-usufruire li h2 {
				margin-bottom: var(--margin-smallest);
				line-height: 1;
			}

			.come-usufruire li p {
				margin-top: 0;
			}

			@media (min-width: 750px) {
				.come-usufruire .steps {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
				}

				.tariffe-grid {
					text-align: left;

					display: grid;
					grid-template-columns: 1fr 1fr;
					column-gap: var(--margin-standard);
					justify-items: center;
					align-items: center;
				}
				.tariffe-grid img {
					grid-column: 1;
					grid-row: 1;
				}
				.tariffe-grid .title-copy-cta {
					grid-column: 2;
				}
			}

			.mappa-piccoli-comprensori,
			.illustrazione-tariffe {
				width: 95%;
				max-width: 100rem;
				margin: 0 auto;
				height: auto;
				max-inline-size: none;
				max-block-size: none;
			}

			.illustrazione-tariffe {
				margin-top: var(--margin-standard);
				margin-bottom: var(--margin-standard);
			}

			footer {
				height: 40rem;
				background-color: #00264a;
			}

			.desktop-only {
				display: none;
			}

			@media (min-width: 750px) {
				.mappa-piccoli-comprensori {
					margin-top: var(--margin-large);
				}

				.mobile-only {
					display: none;
				}
				.desktop-only {
					display: block;
				}
			}
		</style>

		<header>
			<div class="content">
				<Image
					src={logoSkiLife}
					alt="Ski Life valle d'Aosta"
					class="logo"
					loading="eager"
				/>

				<div>
					<div>
						<small
							>Scopri l'autentica magia della<br class="mobile-only" /> Valle
							d'Aosta e scia nei</small
						>
						<strong>PICCOLI <br class="mobile-only" /> COMPRENSORI</strong>
					</div>

					<button class="btn">Acquista online</button>
					<button class="btn btn--secondary scopri-di-piu">Scopri di più</button>
				</div>

				<Image src={arrowDownImage} alt="Vai giù" class="arrow-down" />
			</div>

			<script>
				const scrollLink = document.querySelector(".arrow-down"),
					targetElement = document.querySelector(".intro"),
					scopriElement = document.querySelector(".scopri-di-piu"),
					sliderElement = document.querySelector(".slider-comprensori");

				scrollLink.addEventListener("click", function (e) {
					e.preventDefault();
					window.scroll({
						top: targetElement.offsetTop - 50,
						left: 0,
						behavior: "smooth"
					});
				});
				scopriElement.addEventListener("click", function (e) {
					e.preventDefault();
					window.scroll({
						top: sliderElement.offsetTop - 50,
						left: 0,
						behavior: "smooth"
					});
				});
			</script>
		</header>

		<section class="intro">
			<div class="content">
				<div class="cose-grid">
					<div class="title-copy-cta">
						<h1>Cos'è il magic Skipass</h1>

						<p>
							Magic Skipass è la promozione ideata dalla Regione Valle d’Aosta
							per incentivare la scoperta di <b
								>itinerari fuori dal comune dove poter vivere la propria
								passione per la neve</b
							>, provare a sciare e assaporare le tradizioni più vere e
							radicate, contrastando il caro vita.
						</p>

						<p>
							Esperienze imperdibili per godere di qualche giorno lontani dal
							caos, dai ritmi frenetici delle città e scoprire la bellezza di
							sciare in mezzo alla natura più pura e meravigliosa della Valle
							d’Aosta.
						</p>

						<a href="#" class="btn" target="_blank">Acquista online</a>
					</div>

					<Image
						src={seiGiornateImage}
						alt="100€, 6 giornate di skipass + 1 ora di maestro + una notte in alberto per due minorenni"
						class="sei-giornate"
					/>

					<Image
						src={percorsoImage}
						alt="Percorso"
						class="mobile-only percorso-mobile"
					/>
					<Image
						src={percorsoDesktopImage}
						alt="Percorso"
						class="desktop-only percorso-desktop"
					/>

					<div class="title-copy-cta">
						<h1>E non è tutto!</h1>
						<p>
							Con Magic Skipass, potrai usufruire anche di 1 ora di lezione di
							sci o di snowboard, presso le <a href="">Scuole Sci</a>
							 disponibili nei piccoli comprensori che aderiscono
							all'iniziativa.

							<small
								>Potrai usufruire dell’ora di lezione per tutta la stagione
								2023/2024 ad eccezione dei weekend e del periodo dal 24/12 al
								07/01 e dal 12/02 al 16/02.
							</small>
						</p>
						<p>
							Soggiornando per 2 notti consecutive in una delle <a href=""
								>strutture aderenti</a
							> degli 11 borghi che aderiscono alla promozione, <b>2 ragazzi*</b
							>
							 (fino a 18 anni non compiuti) dormono gratis per 1 notte in
							camera con i genitori.
							<small
								>*Figli di genitori possessori dello skipass promozionale Magic
								Skipass.</small
							>
						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="come-usufruire">
			<div class="content">
				<h1>Come usufruire della promozione</h1>

				<ul class="steps">
					<li>
						<Image src={stepOneImage} alt="Uno" width="100" />
						<h2>Acquista</h2>
						<p>
							Acquista il Magic Skipass online o presso le biglietterie dei
							comprensori aderenti all’iniziativa.
						</p>
					</li>

					<li>
						<Image src={stepTwoImage} alt="Due" width="100" />
						<h2>Ritira</h2>
						<p>
							Ritira il Magic Skipass in una delle biglietterie dei comprensori
							aderenti l’iniziativa.
						</p>
					</li>

					<li>
						<Image src={stepThreeImage} alt="Tre" width="100" />
						<h2>Scopri</h2>
						<p>
							Scopri la bellezza di sciare in uno dei borghi più magici della
							Valle d’Aosta per al massimo 3 giornate (anche consecutive).
						</p>
					</li>
				</ul>

				<a href="#" class="btn" target="_blank">Acquista online</a>
			</div>
		</section>

		<section>
			<div class="content">
				<div class="tariffe-grid">
					<div class="title-copy-cta">
						<h1>Un prezzo imbattibile</h1>

						<p>
							1 skipass plurigiornaliero** da 6 giornate di sci da utilizzare a
							libera scelta nei piccoli comprensori valdostani <b
								>a soli 100€ per gli adulti, gratis per i bambini fino a 8 anni</b
							> (con l’acquisto di uno skipass adulto) e <b
								>80€ per i ragazzi sotto ai 14 anni.</b
							>
						</p>

						<p>
							Lo skipass è utilizzabile per un massimo di due giorni nella
							stessa località sciistica
							<small
								>**Lo skipass è utilizzabile per un massimo di 3 giornate di sci
								fruibili all’interno dello stesso piccolo comprensorio.</small
							>
							<small
								>Under 14: nati dopo il 31/10/2029. Under 8: nati dopo il
								31/10/2015.</small
							>
						</p>
					</div>

					<Image
						src={tariffeImage}
						alt="100€ Adulti, 80€ Under 14, 0€ Under 8"
						class="illustrazione-tariffe"
					/>
				</div>

				<Image
					src={mapImage}
					alt="Mappa piccoli comprensori"
					class="mappa-piccoli-comprensori"
				/>
			</div>
		</section>

		<section class="lasciati-ispirare">
			<SliderComprensori />
		</section>

		<footer></footer>
	</body>
</html>
