---
import { Image } from "astro:assets";

import brussonImage from "../images/card-brusson.webp";
import valgrisencheImage from "../images/card-valgrisenche.webp";
import remesImage from "../images/card-remes.webp";
import antagnodImage from "../images/card-antagnod.webp";
import chamoisImage from "../images/card-chamois.webp";
import champorcherImage from "../images/card-champorcher.webp";
import cogneImage from "../images/card-cogne.webp";
import crevacolImage from "../images/card-crevacol.webp";
import gressoneyImage from "../images/card-gressoney.webp";
import magdeleineImage from "../images/card-magdeleine.webp";
import ollomontImage from "../images/card-ollomont.webp";

import iconBrussonImage from "../images/icon-brusson.svg";
import iconValgrisencheImage from "../images/icon-valgrisenche.svg";
import iconRemesImage from "../images/icon-remes.svg";
import iconChamporcherImage from "../images/icon-champorcher.svg";
import iconCogneImage from "../images/icon-cogne.svg";
import iconOllomontImage from "../images/icon-ollomont.svg";
import iconAntagnodImage from "../images/icon-antagnod.svg";
import iconChamoisImage from "../images/icon-chamois.svg";
import iconMagdeleineImage from "../images/icon-magdeleine.svg";
import iconGressoneyImage from "../images/icon-gressoney.svg";
import iconCrevacolImage from "../images/icon-crevacol.svg";

const parallaxPercentage = "20%";

// import Swiper and modules styles
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
---

<script>
	// core version + navigation, pagination modules:
	import Swiper from "swiper";
	import {
		Manipulation,
		Navigation,
		Parallax,
		FreeMode,
		Pagination
	} from "swiper/modules";

	// import "../styles/slider.scss";

	const swiper = new Swiper(".swiper", {
		// Optional parameters
		direction: "horizontal",
		loop: true,
		modules: [Navigation, Parallax, Manipulation, FreeMode, Pagination],
		parallax: true,

		slidesPerView: "auto",
		centeredSlides: true,
		spaceBetween: 15,

		// Navigation arrows
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev"
		},

		pagination: {
			el: ".swiper-pagination"
		},

		breakpoints: {
			// when window width is >= 320px
			750: {
				initialSlide: 0,
				loop: false,
				centeredSlides: false,
				spaceBetween: 20,
				freeMode: {
					enabled: true,
					sticky: false,
					momentum: true,
					momentumRatio: 0.7,
					momentumBounce: true,
					momentumVelocityRatio: 0.4
				},
				grabCursor: true
			}
		}
		// on: {
		// 	progress: function () {
		// 		// console.log(this.progress);

		// 		let total_slides_length =
		// 			document.querySelectorAll(".swiper-slide").length * 380; // da calcolare con foreach
		// 		let total_scrollable_x = total_slides_length - this.width;

		// 		document.querySelectorAll(".swiper .swiper-slide").forEach(($slide) => {
		// 			let slide_progress_position_start =
		// 				(1 / total_slides_length) * $slide.offsetLeft;
		// 			let slide_progress_position_end =
		// 				(1 / total_slides_length) * ($slide.offsetLeft + this.width);

		// 			if (
		// 				this.progress > slide_progress_position_start ||
		// 				this.progress < slide_progress_position_end
		// 			) {
		// 				let slide_progress =
		// 					(this.progress - slide_progress_position_start) /
		// 					(slide_progress_position_end - slide_progress_position_start);
		// 				let $slideBg = $slide.querySelector(".card-parallax-background");
		// 				if ($slideBg)
		// 					$slideBg.style.transform = `translateX(${
		// 						200 * slide_progress
		// 					}px)`;
		// 			}
		// 		});
		// 	},
		// }
	});

	if (window.innerWidth <= 750) {
		swiper.removeSlide(0);
	}
</script>

<style>
	.swiper {
		width: 100%;
	}

	.slider-intro {
		padding: 0 var(--margin-small);
	}

	.swiper-slide.desktop-only {
		align-items: self-start;
	}

	.swiper-slide.desktop-only h2 {
		color: var(--azzurro);
		max-width: 40rem;
	}

	.slider-intro p {
		margin-top: 0;
	}

	.swiper-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		height: 90vh;
		width: 83vw;
		max-width: 36rem;
		max-height: 60rem;

		padding: 2rem;
		padding-bottom: var(--margin-standard);

		overflow: hidden;

		user-select: none;
	}

	.swiper-slide:first-child {
		justify-content: center;
		text-align: left;
		padding-left: 0;
		width: 80vw;
		max-width: 600px;
		padding-left: var(--margin-standard);
	}

	.swiper-slide:first-child p {
		margin-bottom: var(--margin-small);
	}

	.swiper-slide h2 {
		color: white;
		font-family: "Ramen";
		margin: var(--margin-small) 0;
	}

	.swiper-slide p {
	}

	.swiper-slide &:first-child {
		text-align: left;
		padding-left: 0;
		width: 80vw;
	}

	.swiper-slide.comprensorio {
		color: white;
	}

	.swiper-slide.comprensorio h1 {
		color: white;
	}

	.swiper-slide.comprensorio p {
		font-size: 1.5rem;
		margin: 0;
		min-height: 14rem;
	}

	.card-parallax-background {
		position: absolute;
		z-index: -1;
		top: 0;
		height: 60rem;
	}

	.card-parallax-background .gradient-overlay {
		left: 0;
		top: 0;
		position: absolute;

		height: 60rem;
		width: 100%;
		background: rgba(32, 75, 102, 0.5);
		background: linear-gradient(
			0deg,
			rgba(17, 31, 54, 1) 0%,
			rgba(17, 31, 54, 0) 84%
		);
	}

	.card-parallax-background img {
		height: 60rem;
		width: auto;

		max-inline-size: none;
		max-block-size: none;
	}

	.swiper-pagination {
		--swiper-theme-color: var(--azzurro);
		bottom: auto;
		top: auto;
		margin-top: var(--margin-smallest);
	}

	@media (min-width: 750px) {
		.swiper-pagination {
			margin-top: var(--margin-small);
		}
	}
</style>

<div class="slider-intro mobile-only">
	<div>
		<h1>Lasciati ispirare dai piccoli borghi</h1>
		<p>
			Scopri la magia dei piccoli borghi in cui assaporare la tradizione:<b>
				Antagnod, Brusson, Chamois, Champorcher, Cogne, Crévacol,
				Gressoney-Saint-Jean, La Magdeleine, Ollomont, Rhêmes-Notre-Dame,
				Valgrisenche.</b
			>
		</p>

		<a href="https://pila.skiperformance.com" class="btn" target="_blank"
			>Acquista online</a
		>
	</div>
</div>

<section class="slider-comprensori">
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide desktop-only">
				<h1>Lasciati ispirare <br />dai piccoli borghi</h1>
				<p>
					Scopri la magia dei piccoli borghi in cui assaporare la tradizione:<b>
						Antagnod, Brusson, Chamois, Champorcher, Cogne, Crévacol,
						Gressoney-Saint-Jean, La Magdeleine, Ollomont, Rhêmes-Notre-Dame,
						Valgrisenche.</b
					>
				</p>
				<a href="#" class="btn" target="_blank">Acquista online</a>
			</div>

			<div class="swiper-slide comprensorio">
				<div
					class="card-parallax-background"
					data-swiper-parallax-x={parallaxPercentage}
				>
					<Image
						src={brussonImage}
						alt="Panorama Brusson"
						widths={[600, 1190]}
						width="600"
						height="600"
					/>
					<div class="gradient-overlay"></div>
				</div>
				<Image
					src={iconBrussonImage}
					alt="Illustrazione Brusson"
					width="84"
					height="82"
				/>
				<h2>Brusson</h2>
				<p>
					Località situata a 1.338 metri di altitudine nella bassa Val d’Ayas,
					prima di Antagnod.
				</p>
				<a
					href="https://www.skilife.ski/brusson/"
					class="btn btn--secondary"
					target="_blank">Scopri</a
				>
			</div>

			<div class="swiper-slide comprensorio">
				<div
					class="card-parallax-background"
					data-swiper-parallax-x={parallaxPercentage}
				>
					<Image
						src={valgrisencheImage}
						alt="Panorama Valgrisenche"
						widths={[600, 1190]}
						width="600"
						height="600"
					/>
					<div class="gradient-overlay"></div>
				</div>
				<Image
					src={iconValgrisencheImage}
					alt="Illustrazione Valgrisenche"
					width="136"
					height="82"
				/>
				<h2>VALGRISENCHE</h2>
				<p>
					Località situata a 1.664 metri di altitudine nell’omonima Valle nella
					parte sud-occidentale della Valle d’Aosta, accanto alla Val di Rhêmes.
				</p>
				<a
					href="https://www.skilife.ski/valgrisenche/"
					class="btn btn--secondary"
					target="_blank">Scopri</a
				>
			</div>

			<div class="swiper-slide comprensorio">
				<div
					class="card-parallax-background"
					data-swiper-parallax-x={parallaxPercentage}
				>
					<Image
						src={remesImage}
						alt="Panorama Rhêmes Notre Dame"
						widths={[600, 1190]}
						width="600"
						height="600"
					/>
					<div class="gradient-overlay"></div>
				</div>
				<Image
					src={iconRemesImage}
					alt="Illustrazione Rhêmes Notre Dame"
					width="60"
					height="90"
				/>
				<h2>Rhêmes <br />Notre Dame</h2>
				<p>
					Località situata a 1.725 metri di altitudine nella Val di Rhêmes,
					immersa nel Parco Nazionale del Gran Paradiso.
				</p>
				<a
					href="https://www.skilife.ski/rhemes-notre-dame/"
					class="btn btn--secondary"
					target="_blank">Scopri</a
				>
			</div>

			<div class="swiper-slide comprensorio">
				<div
					class="card-parallax-background"
					data-swiper-parallax-x={parallaxPercentage}
				>
					<Image
						src={champorcherImage}
						alt="Panorama Champorcher"
						widths={[600, 1190]}
						width="600"
						height="600"
					/>
					<div class="gradient-overlay"></div>
				</div>
				<Image
					src={iconChamporcherImage}
					alt="Illustrazione Champorcher"
					width="96"
					height="64"
				/>
				<h2>CHAMPORCHER</h2>
				<p>
					Località situata a 1.440 metri di altitudine nella prima vallata a
					sinistra arrivando dal Piemonte.
				</p>
				<a
					href="https://www.skilife.ski/champorcher/"
					class="btn btn--secondary"
					target="_blank">Scopri</a
				>
			</div>

			<div class="swiper-slide comprensorio">
				<div
					class="card-parallax-background"
					data-swiper-parallax-x={parallaxPercentage}
				>
					<Image
						src={cogneImage}
						alt="Panorama Cogne"
						widths={[600, 1190]}
						width="600"
						height="600"
					/>
					<div class="gradient-overlay"></div>
				</div>
				<Image
					src={iconCogneImage}
					alt="Illustrazione Cogne"
					width="75"
					height="88"
				/>
				<h2>COGNE</h2>
				<p>
					Località situata a 1.544 metri di altitudine nell’omonima Valle, nel
					cuore del Parco Nazionale del Gran Paradiso.
				</p>
				<a
					href="https://www.skilife.ski/cogne/"
					class="btn btn--secondary"
					target="_blank">Scopri</a
				>
			</div>

			<div class="swiper-slide comprensorio">
				<div
					class="card-parallax-background"
					data-swiper-parallax-x={parallaxPercentage}
				>
					<Image
						src={ollomontImage}
						alt="Panorama Ollomont"
						widths={[600, 1190]}
						width="600"
						height="600"
					/>
					<div class="gradient-overlay"></div>
				</div>
				<Image
					src={iconOllomontImage}
					alt="Illustrazione Ollomont"
					width="96"
					height="64"
				/>
				<h2>Ollomont</h2>
				<p>
					Località situata a 1.335 metri di altitudine nella Valpelline, ad est
					della Valle del Gran San Bernardo.
				</p>
				<a
					href="https://www.skilife.ski/ollomont/"
					class="btn btn--secondary"
					target="_blank">Scopri</a
				>
			</div>

			<div class="swiper-slide comprensorio">
				<div
					class="card-parallax-background"
					data-swiper-parallax-x={parallaxPercentage}
				>
					<Image
						src={antagnodImage}
						alt="Panorama Antagnod"
						widths={[600, 1190]}
						width="600"
						height="600"
					/>
					<div class="gradient-overlay"></div>
				</div>
				<Image
					src={iconAntagnodImage}
					alt="Illustrazione Antagnod"
					width="87"
					height="80"
				/>
				<h2>Antagnod</h2>
				<p>
					Località situata a 1.700 metri di altitudine nella Val d’Ayas, gode di
					una vista spettacolare sul Monte Rosa.
				</p>
				<a
					href="https://www.skilife.ski/antagnod/"
					class="btn btn--secondary"
					target="_blank">Scopri</a
				>
			</div>

			<div class="swiper-slide comprensorio">
				<div
					class="card-parallax-background"
					data-swiper-parallax-x={parallaxPercentage}
				>
					<Image
						src={chamoisImage}
						alt="Panorama Chamois"
						widths={[600, 1190]}
						width="600"
						height="600"
					/>
					<div class="gradient-overlay"></div>
				</div>
				<Image
					src={iconChamoisImage}
					alt="Illustrazione Chamois"
					width="68"
					height="95"
				/>
				<h2>Chamois</h2>
				<p>
					Località situata a 1.800 metri di altitudine nella Valtournenche, la
					Valle del Monte Cervino.
				</p>
				<a
					href="https://www.skilife.ski/chamois/"
					class="btn btn--secondary"
					target="_blank">Scopri</a
				>
			</div>

			<div class="swiper-slide comprensorio">
				<div
					class="card-parallax-background"
					data-swiper-parallax-x={parallaxPercentage}
				>
					<Image
						src={magdeleineImage}
						alt="Panorama Magdeleine"
						widths={[600, 1190]}
						width="600"
						height="600"
					/>
					<div class="gradient-overlay"></div>
				</div>
				<Image
					src={iconMagdeleineImage}
					alt="Illustrazione Magdeleine"
					width="98"
					height="80"
				/>
				<h2>La magdeleine</h2>
				<p>
					Località situata a 1.650 metri di altitudine nella bassa
					Valtournenche, la Valle del Monte Cervino.
				</p>
				<a
					href="https://www.skilife.ski/magdeleine/"
					class="btn btn--secondary"
					target="_blank">Scopri</a
				>
			</div>

			<div class="swiper-slide comprensorio">
				<div
					class="card-parallax-background"
					data-swiper-parallax-x={parallaxPercentage}
				>
					<Image
						src={gressoneyImage}
						alt="Panorama Gressoney Saint Jean"
						widths={[600, 1190]}
						width="600"
						height="600"
					/>
					<div class="gradient-overlay"></div>
				</div>
				<Image
					src={iconGressoneyImage}
					alt="Illustrazione Gressoney Saint Jean"
					width="74"
					height="80"
				/>
				<h2>Gressoney saint jean</h2>
				<p>
					Località situata a 1.385 metri di altitudine nella Valle del Lys, ai
					piedi del Monte Rosa.
				</p>
				<a
					href="https://www.skilife.ski/gressoney-it/"
					class="btn btn--secondary"
					target="_blank">Scopri</a
				>
			</div>

			<div class="swiper-slide comprensorio">
				<div
					class="card-parallax-background"
					data-swiper-parallax-x={parallaxPercentage}
				>
					<Image
						src={crevacolImage}
						alt="Panorama Crevacol"
						widths={[600, 1190]}
						width="600"
						height="600"
					/>
					<div class="gradient-overlay"></div>
				</div>
				<Image
					src={iconCrevacolImage}
					alt="Illustrazione Crevacol"
					width="102"
					height="70"
				/>
				<h2>crevacol</h2>
				<p>
					Località situata a 1.640 metri di altitudine nei pressi di
					Saint-Rhémy-en-Bosses, ultimo villaggio della Valle del Gran San
					Bernardo.
				</p>
				<a
					href="https://www.skilife.ski/crevacol/"
					class="btn btn--secondary"
					target="_blank">Scopri</a
				>
			</div>
		</div>
	</div>
	<div class="swiper-pagination"></div>
</section>
