---
import { Image } from "astro:assets";

import qrSkipassImage from "../images/icon-qr-skipass.svg";
import qrLezioneImage from "../images/icon-qr-lezione.svg";
import qrPernottamentoImage from "../images/icon-qr-pernottamento.svg";

import { loadTranslations } from "../utils/loadTranslations";
const { lang } = Astro.props;
const translations = loadTranslations(lang);
---

<style>
	.come-usufruire h1,
	.come-usufruire h2 {
		color: white;
	}

	.come-usufruire li {
		color: white;
		max-width: 28rem;
		margin: 0 auto;
	}

	.come-usufruire li > img {
		margin-bottom: var(--margin-small);
	}

	.come-usufruire li h2 {
		margin-bottom: var(--margin-smallest);
		line-height: 1;
	}

	.come-usufruire li p {
		margin-top: 0;
	}

	.come-usufruire {
		margin: 0;
		padding-top: var(--margin-large);
		padding-bottom: var(--margin-large);
	}

	.come-usufruire.visible {
		background-image: url(../images/bg-come-usufruire-mobile@1x.webp);
	}

	.come-usufruire {
		background-color: #ececec;
		background-size: cover;
		background-position: center bottom;
	}

	.come-usufruire h1,
	.come-usufruire h2,
	.come-usufruire p {
		color: white;
	}

	.come-usufruire li {
		color: white;
		max-width: 28rem;
		margin: 0 auto;
	}

	.come-usufruire li img {
		margin-bottom: var(--margin-small);
	}

	.come-usufruire li h2 {
		margin-bottom: var(--margin-smallest);
		line-height: 1;
	}

	.come-usufruire li p {
		margin-top: 0;
	}

	@media (min-width: 750px) {
		.come-usufruire .steps {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			margin-top: var(--margin-large);
			margin-bottom: var(--margin-large);
		}

		.come-usufruire.visible {
			background-image: url(../images/bg-come-usufruire-desktop@1x.webp);
		}

		.tariffe-grid {
			text-align: left;

			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: var(--margin-standard);
			justify-items: center;
			align-items: center;
		}

		.tariffe-grid img {
			grid-column: 1;
			grid-row: 1;
		}

		.tariffe-grid .title-copy-cta {
			grid-column: 2;
		}
	}
</style>

<section class="come-usufruire lazy-background">
	<div class="content">
		<h1>{translations.come_usufruire_title}</h1>
		<p>{translations.come_usufruire_intro}</p>
		<ul class="steps">
			<li>
				<Image src={qrSkipassImage} alt={translations.alt_qr_uno} width="100" />
				<h2>{translations.qr_skipass_title}</h2>
				<p>{translations.qr_skipass_description}</p>
			</li>

			<li>
				<Image src={qrLezioneImage} alt={translations.alt_qr_due} width="100" />
				<h2>{translations.qr_lesson_title}</h2>
				<p>{translations.qr_lesson_description}</p>
			</li>

			<li>
				<Image src={qrPernottamentoImage} alt={translations.alt_qr_tre} width="100" />
				<h2>{translations.qr_hotel_title}</h2>
				<p>{translations.qr_hotel_description}</p>
			</li>
		</ul>

		<a href={translations.link_skiperformance} class="btn" id="cta-acquista-section-come" target="_blank">{translations.acquista_online}</a>
	</div>
</section>
