---
import { Image } from "astro:assets";

import percorsoImage from "../images/illustrazione-percorso.svg";
import percorsoDesktopImage from "../images/illustrazione-percorso-desktop.svg";
import mapImage from "../images/mappa-piccoli-comprensori.webp";

import { loadTranslations } from "../utils/loadTranslations";
const { lang } = Astro.props;
const translations = loadTranslations(lang);
---

<style>
	.cose-grid {
		display: grid;
		grid-template-columns: 1fr;

		align-items: center;
		justify-items: center;
	}

	.sei-giornate {
		margin-top: var(--margin-large);
		max-width: 80%;
		height: auto;
	}

	.percorso-mobile {
		margin-bottom: var(--margin-large);
	}

	@media (min-width: 750px) {
		.cose-grid {
			column-gap: 8rem;
			row-gap: var(--margin-large);
			grid-template-columns: 1fr 1fr;
		}

		.cose-grid .mappa-piccoli-comprensori {
			width: 90%;
			justify-self: flex-start;
			position: sticky;
			top: 2rem;
			align-self: start;
		}

		.sei-giornate {
			margin-top: 0;
		}
	}
</style>

<section class="intro">
	<div class="content">
		<div class="cose-grid">
			<!-- <Image src={percorsoImage} alt="Percorso" class="mobile-only percorso-mobile" />
			<Image src={percorsoDesktopImage} alt="Percorso" class="desktop-only percorso-desktop" /> -->
			<Image src={mapImage} alt={translations.alt_mappa_comprensori} class="mappa-piccoli-comprensori" />

			<div class="title-copy-cta">
				<h1>{translations.nonetutto_title}</h1>
				<p set:html={translations.nonetutto_p1} />
				<p set:html={translations.nonetutto_p2} />
				<p set:html={translations.nonetutto_scarica_lista} />
				<p set:html={translations.nonetutto_p3} />
				<p set:html={translations.nonetutto_esempi} />
			</div>
		</div>
	</div>
</section>
