---
import { Image } from "astro:assets";
import logoSkiLife from "../images/ski-life-logo.svg";

import { loadTranslations } from "../utils/loadTranslations";
const { lang } = Astro.props;
const translations = loadTranslations(lang);
---

<style>
	footer {
		background-color: #00264a;
		padding-top: var(--margin-standard);
	}

	footer .col {
		text-align: left;
	}
	footer .col img {
		min-height: 50px;
	}

	footer h3 {
		font-weight: 700;
		color: var(--azzurro);
		margin-bottom: var(--margin-smallest);
	}

	footer a {
		color: white;
		font-weight: 300;
		display: block;
		font-size: 1.3rem;
	}

	footer .content {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: var(--margin-small);

	}

	footer .content a {
		line-height: 1.3;
		display: block;
		margin-bottom: var(--margin-small);
	}

	@media (min-width: 750px) {
		footer .content {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			column-gap: calc(var(--margin-small)*2);
		}
	}

	.footer-bottom {
		margin-top: var(--margin-standard);
		padding-top: var(--margin-smallest);
		padding-bottom: var(--margin-smallest);

		font-size: 1.2rem;

		color: white;
		background-color: #0084be;
	}
</style>

<footer>
	<div class="content">
		<div class="col">
			<Image src={logoSkiLife} alt={translations.alt_ski_life} width="200" />
		</div>

		<div class="col">
			<h3>{translations.link_utili}</h3>
			<a href={translations.link_skilife_associazione}> {translations.associazione} </a>
			<a href={translations.link_skilife_agenzie}>{translations.area_agenzie}</a>
			<a href={translations.link_skilife_soc_funiviarie}>{translations.societa_funiviarie}</a>
		</div>

		<div class="col">
			<h3>{translations.contatti}</h3>
			<a href="tel:+39 0165 238871" id="footer-tel-link">{translations.telefono}</a>
			<a href="mailto:info@skilife.ski" id="footer-email-link">info@skilife.ski</a>
		</div>

		<div class="col">
			<h3>{translations.informazioni}</h3>
			<a href={translations.link_skiperformance}>{translations.skipass_online}</a>
			<a href={translations.link_skilife_privacy_policy}>{translations.privacy}</a>
			<a href={translations.link_skilife_cookie_policy}>{translations.cookie_policy}</a>
		</div>

		<div class="col">
			<h3>{translations.seleziona_lingua}</h3>
			<a href="/">Italiano</a>
			<a href="/en">English</a>
			<a href="/fr">French</a>
		</div>
	</div>

	<div class="footer-bottom">©{new Date().getFullYear()} Copyright Skilife P.I. IT00035130079</div>
</footer>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var lazyBackgrounds = [].slice.call(document.querySelectorAll(".lazy-background"));

		if ("IntersectionObserver" in window) {
			let lazyBackgroundObserver = new IntersectionObserver(function (entries, observer) {
				entries.forEach(function (entry) {
					if (entry.isIntersecting) {
						entry.target.classList.add("visible");
						lazyBackgroundObserver.unobserve(entry.target);
					}
				});
			});

			lazyBackgrounds.forEach(function (lazyBackground) {
				lazyBackgroundObserver.observe(lazyBackground);
			});
		}
	});
</script>
